@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

.dropBttn {
    padding: 0px 20px;
    background-color: white;
    border: none;
    cursor: pointer;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
}

.dropBttn:hover, .dropBttn:focus {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.dropdown-menu{
    /* float: right; */
    position: sticky;
    display: inline-block;
    /* padding-right: 50px; padding-left: 50px; */
    /* padding-top:25px; padding-bottom: 25px; */
}

.dropdown-content{
    /* float: right; */
    display: none;
    position: sticky;
    background-color: rgb(239, 239, 239);
    min-width: 100px;
    /* max-width: 50px; */
    right: 0;
    z-index: 1;
}

.dropdown-content a{ 
    text-align: right;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: brown;
    color:white;
}

.show {
    display:block
}

nav, a:visited {
    text-align: right;
    position: sticky;
    top:0;
    overflow:visible;
    padding: 25px 0px;
    background-color: white;
    color: black;
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    a {
        padding: 0px 10px;
        font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    a:hover{ /*Thicker font*/
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

a {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    padding:50px;
    padding-top: 0px;
}

