nav, a:visited {
    text-align: right;
    position: sticky;
    top:0;
    overflow: hidden;
    padding-right: 50px; padding-left: 50px;
    padding-top:25px; padding-bottom: 25px;
    background-color: white;
    color: black;
    a {
        padding-right: 15px;
    }

    a:hover{
        text-transform: uppercase;
        font-weight: bold;
    }
}

a {
    text-decoration: none;
}

p{
    .barlow-condensed-regular {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}

