@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

/* body */
body {
    margin: 0px 0px 15px;
}

/* other elements */


a:hover {
    font-style: italic;
    text-decoration: underline;
    color: black;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    /* font-style: normal; */
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

p,
h3,
li,
#sliderContainer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

blockquote {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.numbertext {
    color: rgb(43, 43, 43);
    transform: translate(0%, -150%);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    font-size: 14px;

}

footer {
    padding-top: 40px;
    text-align: center;
    /* background-color: rgb(92, 92, 92); */
    color: rgb(0, 0, 0);
    padding-bottom: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: auto;
}

/* body =================================================*/

/* nav */
nav {
    /* text-align: right; */
    position: sticky;
    top: 0;
    overflow: visible;
    /* padding: 25px 0px; */
    background-color: white;
    font-style: normal;
    z-index: 1000;
    
}

.container-nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    /* Distribute items evenly */
    /* align-items: center; */
    /* Vertically align items */
    padding: 25px 35px;
    /* Optional: Adjust spacing */
    font-family: Helvetica, Sans-Serif;
    font-size: 18px;
    font-optical-sizing: auto;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    top: 0;
}



.item-nav1 {
    align-items: center;
}


/* nav ===========================================================*/

.intro {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .intro p{

} */

/* name-intro */
#intro1 {
    /* text-align: center; */
    padding-bottom: 5px;
}

#myname{
 
    text-align: center;
}

#intro2 {
    padding-top: 30px;
    color: rgb(121, 121, 121);
}

.collapsible:hover {
    color: rgb(100, 100, 100);
}

/* name-intro ====================================================*/

/* css for the collapsible content for the about section */
.collapsible {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* padding: 18px; */
    /* width: 100%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-top: 20px; */
    /* margin-bottom:20px; */
}

.active,
.collapsible:hover {
    background-color: #ffffff;
}

.collapsible:after {
    /* content: '\02795'; Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    /* float: right;
    margin-left: 5px; */
}

/* container of the collapsible */
.container-about {
    text-align: center;
}

/* content inside the collapsible */
.about-collapsible {
    padding: 40px;
    background-color: rgb(233, 233, 233);

    color: rgb(0, 0, 0);
    overflow: hidden;
    display: none;
}

/* .content {
    padding: 0 18px;
    overflow: hidden;
    background-color: white;
    max-height: 0;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
  } */

/* this is body container */
/* .container{
    display: grid;
    text-align: center;
} */

.about-content.grid-layout {
    display: grid;
    gap: 5px;
}

.item-content {
    background-color: rgb(233, 233, 233);
    padding: 5px;
    text-align: center;
    /* min-width: 15vw; */
    /* height: 60vh; */
}

.itemcontent1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.itemcontent2 {
    grid-column-start: 1;
    grid-row-start: 2;

}

.itemcontent2 p {
    text-align: center;
    padding: 0px 300px;
}


/* main content here ==========================================================*/
/* .container-roles.grid-layout {
    margin-top: 30px;
    display: grid;
    gap: 10px;
}

.item-role {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    height: 60vh;
} */

/* Default state: only the collapsed part is visible */

.container-title {
    text-align: center;
}

.image-heading {
    margin: 40px 40px 0px;
    text-align: center;

}

.image-heading img{

    @media only screen and (max-width: 600px) {
        width: 100% !important;
    }
}


.image-heading-smaller {
    margin: 20px 20px 0px;
    text-align: center;
}

.image-heading,
.image-heading-smaller img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides1 {
    display: none;
}

.dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transform: translate(0%, -200%);
    transition: background-color 0.6s ease;
}

.item-expanded {
    display: none;
    /* Ensures expanded content is hidden by default */
    margin-top: 20px;

}

.close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 5px 10px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-collapsed {
    padding: none;
    margin: none;
    margin-bottom: -50px;
    background-color: white;
    /* height: 60vh; */
}

.item-collapsed img {
    @media only screen and (max-width: 1150px) {
        height: auto;
        width: 25%;
    }
}

.item-title {
    /* position: absolute;
    bottom: 8px;
    left: 16px; */
    font-size: 1.5em;
    /* bottom: 8px; */
    transform: translate(0%, -200%);

    /* z-index: 1000; */
}

.item-title1,
.item-title4 {
    @media only screen and (max-width: 1150px) {

        background-color: rgb(233, 233, 233);
        display: flex;
    }
}

.item-title2,
.item-title5 {
    @media only screen and (max-width: 1150px) {

        background-color: rgb(161, 161, 161);
        display: flex;
    }
}


#role-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    /* font-style: normal; */
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: white;
    transform: translate(0%, -200%);

    @media only screen and (max-width: 1150px) {
        text-align: left;
        padding-left: 7em;
        font-size: 2.8em;
        transform: translate(0%, -250%);
        color: rgb(0, 0, 0);
    }

    @media only screen and (max-width: 850px) {
        text-align: left;
        padding-left: 7em;
        font-size: 2.5em;
        transform: translate(0%, -250%);
        color: rgb(0, 0, 0);
    }

    @media only screen and (max-width: 600px) {
        text-align: left;
        padding-left: 7em;
        font-size: 1.5em;
        transform: translate(0%, -300%);
        color: rgb(0, 0, 0);
    }

    @media only screen and (max-width: 500px) {
        text-align: left;
        padding-left: 7em;
        font-size: 1.2em;
        transform: translate(0%, -300%);
        color: rgb(0, 0, 0);
    }

    @media only screen and (max-width: 400px) {
        text-align: left;
        padding-left: 7em;
        font-size: 1em;
        transform: translate(0%, -300%);
        color: rgb(0, 0, 0);
    }

}

.expanded .item-expanded {
    display: contents;
    /* Show expanded content when parent has .expanded */

}

.expanded .item-collapsed {
    display: none;
    /* Hide collapsed content when expanded */
}

.dropdown-content {
    display: none;
    /* Keep dropdown hidden by default */
}

.show {
    display: block !important;
    /* Class to show dropdown when active */
}


.container-roles {
    margin: 10px 40px;
    display: grid;
    gap: 10px;

    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.item-role {
    /* background-color: #ffffff; */

    text-align: center;
    /* height: 60vh; */
    transition: all 0.3s ease;
    overflow: hidden;
}




.item-role.expanded {
    background-color: #eeeeee;

    position: absolute;
    /* padding-top:40px; */
    padding: 40px 20px 0px 20px;
    /* top: 0; */
    left: 0;
    /* width: 100%; */
    /* height: 90vh; */
    /* Full viewport height */
    /* height: 100%; */
    z-index: 10;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.308);
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Adjust columns as needed */
    gap: 10px;

    @media only screen and (max-width: 1150px) {
        display: block;
    }
}

.item-role .inside1,
.item-role .inside2 {
    display: none;
    /* Hide content by default */
}

.item-role.expanded .inside1,
.item-role.expanded .inside2 {
    display: block;
    /* Show content when expanded */

    padding: 25px 20px 50px;
}

.item-role .inside-header {
    padding-top: 50px;

    @media only screen and (max-width: 1150px) {
        padding-top: 40px;

    }
}

.item-role.expanded .inside2 {

    @media only screen and (max-width: 1150px) {
        padding-top: 40px;

    }
}

/* had to make more spacing on the right so that its more aligned to the nav  */
.inside2 {
    margin-right: 30px;

    @media only screen and (max-width: 1150px) {

        padding-top: 20px;
    }
}

.item1 {
    grid-column-start: 1;
    grid-row-start: 1;

    @media only screen and (max-width: 1150px) {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 1;

    @media only screen and (max-width: 1150px) {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}

/* .item3 {
    grid-column-start: 3;
    grid-row-start: 1;
} */

.item4 {
    grid-column-start: 3;
    grid-row-start: 1;

    @media only screen and (max-width: 1150px) {
        grid-column-start: 1;
        grid-row-start: 3;
    }
}

.item5 {
    grid-column-start: 4;
    grid-row-start: 1;

    @media only screen and (max-width: 1150px) {
        grid-column-start: 1;
        grid-row-start: 4;
    }
}

/* ---- */

.inside-header {
    grid-column: 1 / span 4;
    /* if you want to include height, need to ensure the header isnt cut off */
    height: 50px;
}

.inside1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.inside2 {
    grid-column: 2 / span 4;
    grid-row-start: 2;

    text-align: left;
}

/* sections for roles */

.section-project {
    padding: 0px 500px;

    @media only screen and (max-width: 1820px) {
        /*For surface pro screen*/
        padding: 0px 200px;
    }

    @media only screen and (max-width: 1115px) {
        padding: 20px;
    }
}

.section-project h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-top: 60px;
}

.section-project p,
li {
    text-align: left;
    padding-top: 10px;
}

/* navigation dropdown ===================== */
.dropBttn {

    background-color: white;
    border: none;
    cursor: pointer;


    display: flex;
    /* Center the icon within the button */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.hamburger_symb {
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 900;

}

.dropdown-menu {
    position: sticky;
    display: inline-block;
    color: white;

}

.dropdown-content {
    display: none;
    position: fixed;
    color: rgb(7, 7, 7);
    background-color: rgba(245, 245, 245, 0.976);
    /* min-width: 100px; */
    /* max-width: 100px; */
    /* width: 100vw; */
    /* height: 25vh; */
    /* top: 0;
    left: 0; */

    right: 40px;
    z-index: 1;
    /* padding: 10px 0px; */
    /* padding-left: 50vw; */

    /* margin: 100px;
    margin-left: 0px; */
    padding-top: 20px;
    text-align: center;
    /* margin-right: 500px; */
}

.dropdown-content a {
    color: rgb(0, 0, 0);

    text-decoration: none;
    display: block;
    /* width: 100vw; */
    height: 5vh;
    /* Use 100% of the viewport width */
    z-index: 1;
    padding: 0px 20px;
    margin-right: 50px;
    margin-bottom: 5px;
    text-align: left !important;

    font-family: "PT Mono", serif;
    font-weight: 400;
    font-style: normal;
    /* text-transform: uppercase; */
}

.dropdown-content a:hover {

    color: rgb(26, 26, 26);

    font-size: 1.5em;

    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


.dropdown-content.show {
    display: block;
    /* Visible when .show is added */
}

/* w3schools below ================================================*/

* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container-w3schools {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }